ul li {
  display: inline;
}

.positionchange {
  top: 390px;
  left: 130px;
}

.color-red {
  color: red;
}

.disp-block {
  display: block;
}

.disp-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.disp-inline {
  display: inline;
}

.fa-facebook-square:hover {
  color: #4267B2
}

.fa-twitter-square:hover {
  color: #1da1f2
}

.fa-instagram:hover {
  color: #f77737;
}

.fa-tumblr:hover {
  color: #36465D;
}

.fa-linkedin-square:hover {
  color: #2867b2;
}

.no-deco {
  text-decoration: none;
}

.txt-gray {
  color: gray;
}

.hov-icon:hover {
  text-decoration: none;
}

.hov-black:hover {
  text-decoration: none;
  color: black;
}

.link-gray {
  color: gray;
}