nav {
  background: red;
  overflow: hidden;
}

main {
  /* width: 1310px; */
  max-width: 1210px;
  margin: auto;
}

.crazywidth {
  width: 300px;
}

ul li {
  display: inline;
}

.positionchange {
  top: 10px;
  left: -80px;
}

.color-red {
  color: #f72210;
}

.color-white {
  color: white;
}

.disp-block {
  display: block;
}

.disp-flex {
  display: flex;
}

.disp-spaceb {
  justify-content: space-between;
}

.flex-w {
  flex-wrap: wrap;
}

.disp-inline {
  display: inline;
}

.fa-facebook-square:hover {
  color: #4267B2
}

.fa-twitter-square:hover {
  color: #1da1f2
}

.fa-instagram:hover {
  color: #f77737;
}

.fa-tumblr:hover {
  color: #36465D;
}

.fa-linkedin-square:hover {
  color: #2867b2;
}

.no-deco {
  text-decoration: none;
}

.txt-gray {
  color: gray;
}

.hov-icon:hover {
  text-decoration: none;
}

.hov-black:hover {
  text-decoration: none;
  color: black;
}

.hov-red:hover {
  background: #de1f0e;
}

.link-gray {
  color: gray;
}

.pos-rel {
  position: relative;
  left: 50px;
}

.txt-bold {
  font-weight: bold;
}

.ul-margdown {
  margin-bottom: 0;
}

.bg-lightgray {
  background: #f4f5f6;
}

.center-text {
  text-align: center;
}

.bg-red {
  background: red;
}

.bg-white {
  background: white;
}

.n-flex-w {
  flex-wrap: nowrap;
}

.pic-text {
  color: black;
}

.pic-text:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.fc-black {
  color: black;
}

.fc-black:hover {
  text-decoration: none;
  color: red;
}

.no-deco:hover {
  text-decoration: none;
}

.left-padding-none {
  padding-left: 0;
}

/* .maxw {
  max-width: 100%;
  margin: auto;
  width: 100px;
} */

.width48 {
  width: 48%;
}

